/*@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&family=Inter:wght@300;400;500;600&display=swap');*/
@font-face {
    font-family: Product sans;
    src: url(fonts/Product\ Sans\ Bold.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Product Sans";
}

html,
body {
    height: 100%;
}

#main {
    width: 100%;
    height: 100vh;
}

.nav-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    z-index: 99;
}

.nav-menu {
    display: flex;
    gap: 50px;
}

.Banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}